@page "/ResetPassword"
@model AspNetIdentitydemoApi.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <h1>Reset your Password.</h1>
    <div style="text-align:center">
        <img src="~/img/gopher_head-min.png" alt="Reset Password" />
        <hr />
    </div>
    <form action="api/Auth/ResetPassword" method="post">
        <input type="hidden" name="Token" value="@Request.Query["Token"]" />
        <input type="hidden" name="Email" value="@Request.Query["Email"]" />

        <table>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="NewPassword" placeholder="Enter New Password." /></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="ConfirmPassword" placeholder="enter confirm Password." /></td>
            </tr>
            <tr>
                <td><button type="submit" value="Reset Password">Reset Password.</button></td>
            </tr>
        </table>
    </form>
</body>
</html>
